$color-default: #7AD3BB;
$color-login-input: rgb(255, 255, 255);
$color-login-input-border: #BCDEF8;
$color-black: #000;
$color-white: #fff;
$color-orange: #FD823E;
$color-navBorder: #d3d3d3;
$color-gray: #808080;
$score-gold: #FFD700;
$score-silver: #C0C0C0;
$score-bronze: #CD7F32;