.btn__container{ //div around btn
    grid-column: 1;
    grid-row: 5/5;
    text-align: center;
}

.btn{
    width: 150px;
    font-size: 1em;
}

.btn--primary {
    color: $color-white;
    background-color: $color-default;
    padding: 0.5em 1em;
    display: inline-block;
    border: none;
}

.btn--login {
    background-color: $color-login-input;
    color: $color-black;
}

.btn--xl {
    font-size: 1.5em;
    padding: 0.7em 1em;
}