.btn{
    width: 150px;
    font-size: 1em;
    justify-self: center;
    row-gap: 5px;
}

.btn--primary{
    color: $color-white;
    background-color: $color-default;
    padding: 0.5em 1em;
    display: inline-block;
    border: none;
}

.btn--xl{
    font-size: 1.5em;
    padding: 0.7em 1em;
}