.container{
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
}

.history__container{
    display: flex;
    flex-direction: column;
    background-color: $color-orange;
}

.base__container {
    display: flex;
    flex-direction: column;
    height: 33vh;
    background-color: $color-default;
}

.balance__container {
    width: 100%;
    margin-top: 5vh;
}

.transfer__container {
    display: grid;
}