.form__container{
    display: grid;
    grid-template-columns:  3fr;
    grid-template-rows:  1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr; 
    row-gap: 10px;
    height: 500px;   
    align-self: center;
    justify-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.form__field{
    height: 40px;
    background-color: $color-login-input;
    border-radius: 4px;
    color: $color-white;
    border: 1px solid $color-login-input-border;
}

.title{
    display: grid;
    justify-self: start;
    margin-top: 10px;
}

.message{
    width: 100%;
    text-align: center;
}